html, body, ul, li{
    margin: 0;
    padding: 0;
}

.gallery {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}

.gallery .photos {
	position: relative;
	height: 375px;
}

.gallery .photos img {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
}

.gallery .photos img.showed {
	width: 100%;
}

.gallery .buttons {
	margin: 10px;
}

.gallery2 > .buttons {
	display: none;
}

/*.gallery .photos img {
	width: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	transition: opacity 2s;
}

.gallery .photos img.showed {
	opacity: 1;
}*/